[submodule "inc/minify"]
	path = inc/minify
	url = https://github.com/matthiasmullie/minify.git
[submodule "inc/parsedown"]
	path = inc/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "inc/path-converter"]
	path = inc/path-converter
	url = https://github.com/matthiasmullie/path-converter.git
[submodule "inc/less.php"]
	path = inc/less.php
	url = https://github.com/oyejorge/less.php.git
